@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

header {
  background-color: #FED32C
}

.row {
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn-primary {
  background-color: #000000;
  color: #FED32C;
  border-radius: 8px;
  padding: 18px 32px;
  font-family:'Poppins', sans-serif;
}