@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #EBEBEB;
}

header {
  background-color: #FED32C
}

.row {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation a {
  text-decoration: none;
  font-family:'Poppins', sans-serif;
  font-weight: 500;
  color: #000000;
}

.btn-primary {
  background-color: #000000;
  color: #FED32C;
  border-radius: 16px;
  padding: 18px 32px;
  font-family:'Poppins', sans-serif;
  border: none;
}

.btn-primary:hover {
  background-color: #FED32C;
  border: solid 1px #000000;
  color: #000000;
}

.hero h3 {
  font-family:'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 800;
  color: #000000;
}

.hero h1 {
  font-family:'Poppins', sans-serif;
  font-size: 88px;
  font-weight: 800;
  color: #000000;
}

.hero p {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family:'Poppins', sans-serif;
  color: #000000;
}

.features {
  padding-top: 80px;
}

.card {
  padding-top: 32px;
  padding-bottom: 48px;
  border-radius: 16px;
}

.card h5 {
  padding-top: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.card p {
  padding-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #272727;
}

.productive {
  margin-top: 80px;
}